html{
    background-color: #FFF5E4;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    border: 2px solid rgb(218, 164, 65);
    padding: 100px;
    background-color: #CD5C08;
    border-radius: 10px;

}
#countdown-text{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 2px solid orange;
    padding:0 50px;
    text-align: center;
    margin-bottom: 20px;
    background-color:#6A9C89;
    border-radius: 10px;
}